page-products-list {
    .main {
        width: 100%;
        height: 100%;
    }

    .button {
        background: transparent;
    }
    
    .final {
        width: 100%;
        height: 10%;
    }
}
